:root {
    --logo-btn-color: #4D5AE5;
    --white-color: #FFFFFF;
    --main-text-color: #434455;
    --second-text-color: #2E2F42;
    --third-text-color: #E7E9FC;
    --change-color: #404BBF;
    --backgroundcolor: #2E2F42;
    --backgroundbtn: #F4F4FD;
    --icon-cust-rcolor:#8E8F99;
    --social-footer:#31D0AA;
    --modal-color: #FCFCFC;
    --modal-text: #757575;

   
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
}

body {
    
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.list {
    margin: 0;
    
    padding: 0;
    list-style: none;}

.link {text-decoration: none;}

.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    /* outline: 2px solid tomato; */
}

section {padding: 120px 0;}


/* -----HEADER----- */

header {
    border-bottom: 1px solid var(--third-text-color);
}

/* -----Logo----- */
.logo {
    
    color: var(--logo-btn-color);
    font-weight: 800;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.accent {color: var(--second-text-color);}

/* -----Navigation------ */

.menu-link {
    
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--second-text-color);
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.menu-link:hover,
.menu-link:focus {color: var(--change-color); }

.menu-link.studio {position: relative;
color: var(--change-color)}
    
.menu-link.studio::after{
content: '';
position: absolute;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
/* margin-top: -4px; */
border-radius: 2px;
background-color: var(--change-color);
}


/* -----Adress----- */

.contact-link {
    
    color: var(--main-text-color);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.contact-link:hover, 
.contact-link:focus {color: var(--change-color); }


.container.page-header {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 76px;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;}

.page-nav-adress {
    display: flex;
    align-items: center;}
    
.page-nav-adress-item:not(:last-child) {margin-right: 40px;}



/* -----Hero----- */

.hero {
    max-width: 1440px;
    height: 600px;
    margin: auto;
    padding: 188px 0;
    
    background-color: var(--backgroundcolor);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;text-align: center;}

.hero-title {
    display: inline-block;

    width: 496px;
    margin-top: 0;
    margin-bottom: 48px;

    color: var(--white-color);

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.btn-order {
    display: flex;
    
    min-width: 169px;
    margin: auto;
    padding: 16px 32px;

    border: 0;
    border-radius: 4px;
    
    background-color: var(--logo-btn-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover, 
.btn-order:focus {
    background-color: var(--change-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}


    /* -----Components------     */
.section-title {
    margin-top: 0;
    margin-bottom: 72px;
    
    color: var(--second-text-color);

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;}


.section-subtitle {
    margin-top: 0;
    margin-bottom: 8px;
    
    color: var(--second-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-description  {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--main-text-color);

    line-height: 1.5;
    letter-spacing: 0.02em;}

/* -----Benefits------     */

.description-benefits-icon {
    display: flex;
  
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;

    background-color: var(--backgroundbtn);
    background-position: center;

    background-repeat: no-repeat;
}

.description-benefits {
    display: flex;
}

.description-benefits-item {
    width: 264px;
}

.description-benefits-item+.description-benefits-item {
    margin-left: 24px;
}


/* -----What are we doing images------     */
.img {display: block;}

.work {
    padding-top: 0;
}

.description-work {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.description-work-item:not(:last-child) {margin-right: 24px;}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    }

.social-list-icon {
  width: 16px;
  height: 16px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--logo-btn-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--change-color);
}

/* < !-- -----Our team----- --> */

.team-member-item > .section-subtitle {
margin-top: 32px;
}

.team-member-item {
border-radius: 0px 0px 4px 4px;
background-color: var(--white-color);

box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team {background-color: var(--backgroundbtn);}

.team-member {
    display: flex;
    flex-basis: calc((100%-72px)/3);
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;}

.team-member-item {padding-bottom: 32px;}

.team-member-item > .section-subtitle {text-align: center;}

.team-member-item > .section-description {
margin-bottom: 8px;
text-align: center;}

/* < !-- -----Customers----- --> */

.customers {padding-top: 130px;}

.customers-list {
    display: flex;
    gap: 24px;}

.customers-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 168px; height: 88px;
    border: 1px solid var(--icon-cust-rcolor);
    border-radius: 4px;}

.customers-list-link {
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    padding: 16px 32px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.customers-list-link:hover, .customers-list-link:focus {border: 1px solid var(--change-color)}

.customers-list-icon {
    width: 104px;
    height: 56px;
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .customers-list-icon, .customers-list-link:focus .customers-list-icon {fill:var(--change-color)}



/* -----Footer----- */

.footer > .container {
    display: flex;
    /* padding: 100px;  */
}

.footer {
padding-top: 100px;
padding-bottom: 100px;

background-color: var(--second-text-color);}

.footer-description {margin-right: 120px;}

.title-social {
    margin-top: 0;
    color: var(--third-text-color);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.section-description-footer {
    display:block;
    
    width: 264px;
    margin-bottom: 0;
    
    color: var(--third-text-color);
    
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.accent-footer {
    color: var(--third-text-color);
}

.footer-social .social-list {gap: 16px;}
.footer-social .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-list-link:hover,
.footer-social .social-list-link:focus {
  background-color: var(--social-footer);
}

.footer-social .social-list-icon {
  width: 24px;
  height: 24px;}

.footer-social {margin-right: 80px;}

.title-subscribe {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--third-text-color);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

.footer-subscribe-item {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.footer-subscribe-input {
width: 264px;
min-height: 40px;
padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background: var(--backgroundcolor);
color: var(--white-color);
font-size: 16px;
line-height: 2;
letter-spacing: 0.04em;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.footer-subscribe-input::placeholder{
color: rgba(255, 255, 255, 0.6);
    
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

}

.subscribe-btn {
display: flex;
gap: 16px;
justify-content: center;
min-width: 165px; 
height: 40px;
padding: 8px 24px;
border: 0;
border-radius: 4px;
background: var(--logo-btn-color);
color: var(--white-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;}

.subscribe-btn:hover, 
.subscribe-btn:focus {
    background-color: var(--change-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}


.text-btn {display: block;}




/*-- -----Modal window----- --*/
.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);

opacity: 1;

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal {
position: absolute;
top: 50%;
left: 50%;
width: 408px;
height: 584px;
padding: 72px 24px 24px;
background-color: var(--modal-color);

transform: translate(-50%, -50%) scale(1);

}

.icon-close {
width: 8px; 
height: 8px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-button {
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
padding: 0;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%; 
background-color: var(--third-text-color);
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-button:hover, .modal-button:focus {background-color: var(--change-color);}

.modal-button:hover .icon-close, .modal-button:focus .icon-close {fill:var(--white-color)}


.backdrop.is-hidden {opacity: 0;
visibility: hidden;
pointer-events: none;

}

.backdrop.is-hidden .modal {transform: translate(-50%, -50%) scale(0.8);}

.modal-subtitle {
display: block;
margin: 0;
margin-bottom: 14px;
color: var(--second-text-color);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;


}
.contact-form{
display: flex;
flex-direction: column;margin: 0 auto;}

.contact-form-item{margin-bottom: 8px;}

.contact-form-item.comment{margin-bottom: 16px;}

.link-policy {color: var(--logo-btn-color);}

.contact-info-input{width: 100%;
min-height: 40px;
padding-left: 38px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.contact-info-input:focus  {border: 1px solid var(--logo-btn-color);outline: none;}

.contact-info-input:focus + .contact-form-input-icon {fill: var(--logo-btn-color)}

.contact-form-definition {display: block;
margin-bottom: 4px;
color: var(--icon-cust-rcolor);
font-weight: 400;
font-size: 12px;
font-family: 'Roboto';
line-height: 1.33;
letter-spacing: 0.04em;
}



.contact-form-input-wrapper { position:relative;display:block;}

.contact-form-input-icon {
position: absolute;
top: 50%; 
left: 16px; 
fill: var(--backgroundcolor);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translate(0, -50%);}

.contact-comment {
display: block;
width: 100%;
height: 120px;
padding-top: 8px;
padding-left: 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.contact-comment::placeholder {
color: rgba(117, 117, 117, 0.5);

font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;}

.contact-comment:focus {border: 1px solid var(--logo-btn-color);outline: none;}

.modal-form-check-deskr {color: var(--modal-text);
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;}

.modal-form-check-deskr::before {content: '';
display: block;
width: 16px;
height: 16px;
margin-right: 8px;
border: 1.25px solid var(--backgroundcolor);
border-radius: 2px;
cursor: pointer;
}

.user-policy-wrapper {display: flex; margin-bottom: 24px;}

.modal-form-check-deskr{display: flex;
align-items: center;}

.modal-form-check:checked + .modal-form-check-deskr::before, .modal-form-check:focus + .modal-form-check-deskr::before{
border: 1.25px solid var(--change-color);background-color: var(--change-color);
background-image: url(../images/icon-check.svg);
background-position: center;
background-size: 8px 8px;
background-repeat: no-repeat;}

.contact-info-btn {
align-self: center;
min-width: 169px; 
height: 56px;
padding: 16px 32px;
border: 0;
border-radius: 4px;background: var(--logo-btn-color);
color: var(--white-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.contact-info-btn:hover, 
.contact-info-btn:focus {
    background-color: var(--change-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

/* -----Portfolio----- */

.portfolio {padding-top: 96px;}

.menu-link.portfolio-menu {
position: relative;
color: var(--change-color);}
.menu-link.portfolio-menu::after {
content: '';
position: absolute;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
/* margin-top: -4px; */
border-radius: 2px;
background-color: var(--change-color);
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    column-gap: 24px;
}


.filter-btn {
    display: flex;
    align-items: center;
    padding: 12px 24px;

    border: 1px solid #e7e9fc;
    border-radius: 4px;
    
    
    background-color: var(--backgroundbtn);
    color: var(--logo-btn-color);
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-btn:hover, .filter-btn:focus {
    background-color: var(--change-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.description-portfolio {
    display: flex;
    flex-wrap: wrap;
    
    row-gap: 48px;
    align-items: center;
    column-gap: 24px;
}

.description-portfolio-item {
    
flex-basis: calc(100% / 3 - 48px);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.description-portfolio-item:hover, .description-portfolio-item:focus {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

/* .description-portfolio-item {margin-right: 24px;
margin-bottom: 48px;
} */

/* .description-portfolio :nth-child(3n) {margin-right: 0;}
.description-portfolio :nth-last-child(-n + 3) {margin-bottom: 0;} */

.portfolio-text {
    padding: 32px 16px;
    
    border: 1px solid #e7e9fc;
    border-top: none;
    
    background-color: var(--white-color);
}

.description-portfolio-wrapper {
position: relative;
overflow: hidden; 
}


.overlay {
position: absolute;
top: 0;
left: 0; 
overflow-y: auto;
width: 100%;
height: 100%;
margin: 0;
padding: 40px 32px;
background-color: var(--logo-btn-color);

color: var(--backgroundbtn);

line-height: 1.5;
letter-spacing: 0.02em;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
transform: translateY(100%);}

.description-portfolio-link:hover .overlay, 
.description-portfolio-link:focus .overlay
{transform: translateY(0);}