/* Breackpoints
--phone-screen: 480px
--tablet-screen: 768px
--desktop-screen: 1200px */

:root {
    --logo-btn-color: #4D5AE5;
    --white-color: #FFFFFF;
    --main-text-color: #434455;
    --second-text-color: #2E2F42;
    --third-text-color: #E7E9FC;
    --change-color: #404BBF;
    --backgroundcolor: #2E2F42;
    --backgroundbtn: #F4F4FD;
    --icon-cust-rcolor:#8E8F99;
    --social-footer:#31D0AA;
    --modal-color: #FCFCFC;
    --modal-text: #757575;

   
}

:root {

--indent:30px;
--items:4;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
}

body {
    
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;}

.link {text-decoration: none;}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap:var(--indent);
    justify-content: center;
}

.card-set-item {
    flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items))
}

img {display: block;
max-width: 100%;
height: auto;}


.container {
    /* 280px=<phone-screen<=infinity */
    /* min-width: 280px; */
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    /* outline: 2px solid tomato; */}



    /* 768px=<tablet-screen<=infinity */
    @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
    }



    /* 1200px=<desktop-screen<=infinity */
    @media screen and (min-width: 1200px) {
    .container {max-width: 1158px;
        
    }
    }
    

section {
    /* 280px=<phone-screen<=infinity */
    padding: 96px 0;}


    /* 768px=<tablet-screen<=infinity */
    @media screen and (min-width: 768px) {
    section {padding: 96px 0;}
    }


    /* 1200px=<desktop-screen<=infinity */
    @media screen and (min-width: 1200px) {
    section {padding: 120px 0;
    }
    }

/* -----HEADER----- */

header {
    border-bottom: 1px solid var(--third-text-color);
}


.container.page-header {
    display: flex;
    align-items: center;
}

/* -----Logo----- */



    .logo {
    padding: 24px 0;
    
    color: var(--logo-btn-color);
    font-weight: 800;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.accent {color: var(--second-text-color);}

/* -----Navigation------ */

.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;}


    @media screen and (max-width: 768px) {
    .menu {display: none;}
    }

    

    @media screen and (max-width: 767.98px) {
    .address {display: none;}}



     @media screen and (min-width: 768px) {
    .menu {
    display: flex;
    align-items: center;
    margin-left: 120px;
    }
}

     @media screen and (min-width: 1200px) {
    .menu {
    display: flex;
    align-items: center;
    margin-left: 76px;
    }
}


.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--second-text-color);
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.menu-link:hover,
.menu-link:focus {color: var(--change-color); }

.menu-link.studio {position: relative;
color: var(--change-color)}
    
.menu-link.studio::after{
content: '';
position: absolute;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--change-color);
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

/* -----Adress----- */

    @media screen and (min-width: 768px) {
    .contact-link {
    color: var(--main-text-color);
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
}


    @media screen and (min-width: 1200px) {
    .contact-link {
 
    color: var(--main-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
}

.contact-link:hover, 
.contact-link:focus {color: var(--change-color); }



.page-nav-adress {
    display: flex;
    align-items: center;}


    @media screen and (min-width: 768px) {
    .page-nav-adress {
    flex-direction: column;
    gap: 4px;
    }
}


    @media screen and (min-width: 1200px) {
    .page-nav-adress {
    flex-direction: row;
    gap: 40px;
    margin-top: auto;
    margin-bottom: auto;
    }
}

/* Burger-menu  */



 @media screen and (min-width: 768px) {
    .menu-toggle {display:none}

}

@media screen and (max-width: 767.98px) {
  
.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 22px;
    
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon-menu-hamburger {stroke: var(--backgroundcolor);}



.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
  padding: 80px 15px 15px 40px;
  background-color: var(--white-color);
  transition: transform 250ms ease-in-out;

  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

 
.menu-container .menu-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%; 
  background-color: var(--third-text-color);
  color: #fff;
  cursor: pointer;
  
}




.mobile-menu {
  margin: 0;
  padding: 0;
  
}

.mobile-menu:nth-child(2) {margin-bottom: auto;}

.mobile-menu .link {
  display: block;
  color: var(--backgroundcolor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-decoration: none;
}


.mobile-menu-item:not(:last-child) {margin-bottom: 40px;}

.link.studio {color:var(--logo-btn-color)}



.mobile-menu-adress-item:not(:last-child) {margin-bottom: 40px;}



.mobile-menu.adress .burger-phone{
    display: block;
    color: var(--logo-btn-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
}

@media screen and (max-width: 407.98px){
    .mobile-menu.adress .burger-phone {font-size: 24px;}}


.mobile-menu.adress .burger-email{
    display: block;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-menu.adress {margin-bottom: 40px
    ;}

.mobile-menu.social {padding-bottom: 40px;}


.mobile-menu.social {display: flex;
gap: 24px;
align-items: center;}

.mobile-menu .social-list-icon {
  width: 24px;
  height: 24px;}

   
/* -----HERO----- */

.hero {
    /* max-width: 428px; */
    height: 432px;
    margin: auto;
    padding: 112px 0;
    
    background-color: var(--backgroundcolor);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bgd/img-bgd-phone@1x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){.hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bgd/img-bgd-phone@2x.png);}}

@media screen and (min-width: 481px) {

    .hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bgd/img-bgd-tabl@1x.png);}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){.hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bgd/img-bgd-tabl@2x.png);}}
}

@media screen and (min-width: 769px) {

    .hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bgd/img-bgd-desk@1x.png);}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){.hero {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bgd/img-bgd-desk@2x.png);}
}}

@media screen and (min-width: 768px) {
    .hero {
    /* min-width: 768px; */
    height: 436px;
    margin: auto;
    padding: 112px 0;
    
    
}}

@media screen and (min-width: 1200px) {.hero {
    width: 1440px;
    height: 600px;
    margin: auto;
    padding: 188px 0;
    
    }}

.hero-title {
    display: inline-block;

    width: 320px;
    margin-top: 0;
    margin-bottom: 72px;

    color: var(--white-color);
    /* font-weight: 700; */

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero-title {
    width: 496px;
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

    }

}

@media screen and (min-width: 1200px) {
    .hero-title {
    width: 496px;
    margin-bottom: 48px;}}

.btn-order {
    display: flex;
    
    min-width: 169px;
    margin: auto;
    padding: 16px 32px;

    border: 0;
    border-radius: 4px;
    
    background-color: var(--logo-btn-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover, 
.btn-order:focus {
    background-color: var(--change-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}


    /* -----Components------     */
.section-title {
    margin-top: 0;
    margin-bottom: 72px;
    
    color: var(--second-text-color);

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;}


.section-subtitle {
    margin-top: 0;
    margin-bottom: 8px;
    
    color: var(--second-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-description  {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--main-text-color);

    line-height: 1.5;
    letter-spacing: 0.02em;}

/* -----OUR BENEFITS------     */

.description-benefits {
    display: flex;
}


.description-benefits-icon {display:none}

@media screen and (max-width: 767.98px) {
    .description-benefits {--indent:0px;
--items:1;}}

@media screen and (max-width: 1199.98px) {
    .description-benefits .section-subtitle  {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;}

    .description-benefits .section-description{
    font-weight: 500;
    }
}
@media screen and (max-width: 767.98px)
{.description-benefits-item:not(:last-child) {margin-bottom: 72px;}}


@media screen and (min-width: 768px) {
    .description-benefits-icon {display:none}
    .description-benefits {--indent:24px;
--items:2; row-gap: 72px;}

    .description-benefits .section-subtitle  {
    text-align: left;}
    
}


@media screen and (min-width: 1200px) {
    .description-benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;

    background-color: var(--backgroundbtn);
    background-position: center;

    background-repeat: no-repeat;
}
    .description-benefits {--indent:24px;
--items:4;}
       
}


/* -----WHAT ARE WE DOING------     */

@media screen and (max-width: 1199.98px) {
    .work {display:none}

}

@media screen and (min-width: 1200px) {
    .description-work {--indent:24px;
--items:3;}
.work {padding-top: 0;}
}


.description-work {
    margin-bottom: 8px;
}



/* < !-- -----OUR TEAM----- --> */


.team {background-color: var(--backgroundbtn);}


@media screen and (max-width: 767.98px) {.team {
padding-bottom: 128px;}}


@media screen and (min-width: 768px) and (max-width:1199.98) {.team {padding-top: 96px;
padding-bottom: 104px;}}


@media screen and (max-width: 767.98px) {
    .team .container {
    min-width: 264px;
    max-width: 264px;
    padding-right: 0;
    padding-left: 0;}}


@media screen and (min-width: 768px) and (max-width: 1199.98px)  {
    /* .team .container {
    max-width: 552px;
    padding-right: 0;
    padding-left: 0;} */

}


@media screen and (max-width: 767.98px) {
    .team-member {flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items)); row-gap: 72px;--indent:0;
--items:1;}}


@media screen and (min-width: 768px) {
    .team-member {
 row-gap: 64px;column-gap:24px;}
}


@media screen and (min-width: 1200px) {
    .team-member {--indent:24px;
--items:4;}}


.team-member-item > .section-subtitle {
    margin-top: 32px;
    text-align: center;}


.team-member-item > .section-description {
    margin-bottom: 8px;
    text-align: center;}



.team-member-item {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
    }

.social-list-icon {
  width: 16px;
  height: 16px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--logo-btn-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--change-color);
}

/* < !-- -----CUSTOMERS----- --> */

/* .customers {padding-top: 130px;} */


@media screen and (max-width: 767.98px) {
    .customers-list {--indent:16px;
--items:2; row-gap: 72px;}
    .customers-list-item{width: 190px; height: 88px; .customers-list-item{flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items))}
    .customers-list-icon {
    width: 110px;
    height: 56px;}
    /* .customers-list-link {padding: 16px 40px;} */
}}


@media screen and (min-width: 768px) {
    .customers-list {column-gap:24px;
 row-gap: 72px;}
    .customers-list-item{width: 168px; height: 88px; }
    /* .customers-list-icon {
    width: 104px;
    height: 56px;} */
    /* .customers-list-link {padding: 16px 40px;} */
}


@media screen and (min-width: 1200px) {
    .customers-list {--indent:24px;
--items:6; }
    .customers-list-item{flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items))}
    
    
}

.customers-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* width: 168px; height: 88px; */
    border: 1px solid var(--icon-cust-rcolor);
    border-radius: 4px;}

.customers-list-link {
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    /* padding: 16px 32px; */

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.customers-list-link:hover, .customers-list-link:focus {border: 1px solid var(--change-color)}

.customers-list-icon {
    width: 104px;
    height: 56px;
    fill: #8E8F99;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .customers-list-icon, .customers-list-link:focus .customers-list-icon {fill:var(--change-color)}



/* -----Footer----- */
.footer {background-color: var(--second-text-color);}

.accent-footer {
    color: var(--third-text-color);
}


@media screen and (max-width: 767.98px) {
    .footer {padding: 96px 0;}

    .footer-description { margin-bottom: 72px;text-align: center;}

    .section-description-footer { margin-right: auto;margin-left: auto; text-align: left;}

    .footer .logo {display: block; padding: 0 0 16px 0;}

    .footer-social { margin-bottom: 72px;text-align: center;}

    .footer-subscribe {text-align: center;}

    .footer-subscribe-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}
    .footer-subscribe-input {max-width: 396px;}

}


@media screen and (min-width: 768px) {

    .footer > .container {display: flex;
flex-wrap: wrap;
    padding-left: 108px;}  

    .footer {
padding-top: 96px;
padding-bottom: 96px;

}

    .footer .logo { margin-bottom: 16px;padding: 0;}

    .footer-description {
     margin-right: 24px;
    margin-bottom: 72px; }}

    .footer-social .social-list {margin-bottom: 0;}
    
    /* .footer-subscribe-form {margin-bottom: 72px;} */

    .footer-subscribe-item {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}
/* .footer-subscribe {margin-top:72px;} */

.footer-subscribe-input {
width: 264px; 
}



@media screen and (min-width: 1200px) {

    .footer > .container {
    display: flex; flex-wrap: nowrap;  
padding-left: 15px;}
    .footer {
padding-top: 100px;
padding-bottom: 100px;

}
    .footer-description {margin-right: 120px;}

    .footer-social {margin-right: 80px;}

    .footer-subscribe-item {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}
.footer-subscribe {margin-top:0;}
}


.title-social {
    margin-top: 0;
    color: var(--third-text-color);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.section-description-footer {
    display:block;
    
    width: 264px;
    margin-bottom: 0;
    
    color: var(--third-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.footer-social .social-list {gap: 16px;}
.footer-social .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-list-link:hover,
.footer-social .social-list-link:focus {
  background-color: var(--social-footer);
}

.footer-social .social-list-icon {
  width: 24px;
  height: 24px;}



.title-subscribe {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--third-text-color);

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}


.footer-subscribe-input {

min-height: 40px;
padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background: var(--backgroundcolor);
color: var(--white-color);
font-size: 16px;
line-height: 2;
letter-spacing: 0.04em;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.footer-subscribe-input::placeholder{
color: rgba(255, 255, 255, 0.6);
    
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

}

.subscribe-btn {
display: flex;
gap: 16px;
justify-content: center;
max-width: 165px;
height: 40px;
margin-right: auto;
margin-left: auto;
padding: 8px 24px;
border: 0;
border-radius: 4px;
background: var(--logo-btn-color);
color: var(--white-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;}

.subscribe-btn:hover, 
.subscribe-btn:focus {
    background-color: var(--change-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}


.text-btn {display: block;}




/*-- -----Modal window----- --*/
.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);

opacity: 1;

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal {
position: absolute;
top: 50%;
left: 50%;
width: 392px;
height: 586px;
padding: 72px 16px 24px;
background-color: var(--modal-color);

transform: translate(-50%, -50%) scale(1);

}

@media screen and (max-width: 389.98px) {
    .modal {
    width: 318px;
    height: auto;
    padding: 72px 24px 24px;}
.modal-form-check-deskr{flex-wrap: wrap;}
}

@media screen and (min-width: 768px) {
    .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;}}

.icon-close {
width: 8px; 
height: 8px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-button {
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
padding: 0;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%; 
background-color: var(--third-text-color);
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-button:hover, .modal-button:focus {background-color: var(--change-color);}

.modal-button:hover .icon-close, .modal-button:focus .icon-close {fill:var(--white-color)}


.backdrop.is-hidden {opacity: 0;
visibility: hidden;
pointer-events: none;

}

.backdrop.is-hidden .modal {transform: translate(-50%, -50%) scale(0.8);}

.modal-subtitle {
display: block;
margin: 0;
margin-bottom: 14px;
color: var(--second-text-color);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;


}
.contact-form{
display: flex;
flex-direction: column;margin: 0 auto;}

.contact-form-item{margin-bottom: 8px;}

.contact-form-item.comment{margin-bottom: 16px;}

.link-policy {color: var(--logo-btn-color);}

.contact-info-input{width: 100%;
min-height: 40px;
padding-left: 38px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.contact-info-input:focus  {border: 1px solid var(--logo-btn-color);outline: none;}

.contact-info-input:focus + .contact-form-input-icon {fill: var(--logo-btn-color)}

.contact-form-definition {display: block;
margin-bottom: 4px;
color: var(--icon-cust-rcolor);
font-weight: 400;
font-size: 12px;
font-family: 'Roboto';
line-height: 1.33;
letter-spacing: 0.04em;
}

.contact-form-input-wrapper { position:relative;display:block;}

.contact-form-input-icon {
position: absolute;
top: 50%; 
left: 16px; 
fill: var(--backgroundcolor);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translate(0, -50%);}

.contact-comment {
display: block;
width: 100%;
height: 120px;
padding-top: 8px;
padding-left: 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.contact-comment::placeholder {
color: rgba(117, 117, 117, 0.5);

font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;}

.contact-comment:focus {border: 1px solid var(--logo-btn-color);outline: none;}

.modal-form-check-deskr {color: var(--modal-text);
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;}

.modal-form-check-deskr::before {content: '';
display: block;
width: 16px;
height: 16px;
margin-right: 8px;
border: 1.25px solid var(--backgroundcolor);
border-radius: 2px;
cursor: pointer;
}

.user-policy-wrapper {display: flex; margin-bottom: 24px;}

.modal-form-check-deskr{display: flex;
align-items: center;}

.modal-form-check:checked + .modal-form-check-deskr::before, .modal-form-check:focus + .modal-form-check-deskr::before{
border: 1.25px solid var(--change-color);background-color: var(--change-color);
background-image: url(../images/icon-check.svg);
background-position: center;
background-size: 8px 8px;
background-repeat: no-repeat;}

.contact-info-btn {
align-self: center;
min-width: 169px; 
height: 56px;
padding: 16px 32px;
border: 0;
border-radius: 4px;background: var(--logo-btn-color);
color: var(--white-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.contact-info-btn:hover, 
.contact-info-btn:focus {
    background-color: var(--change-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

/* -----Portfolio----- */

.portfolio {padding-top: 96px;}

.menu-link.portfolio-menu {
position: relative;
color: var(--change-color);}
.menu-link.portfolio-menu::after {
content: '';
position: absolute;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
/* margin-top: -4px; */
border-radius: 2px;
background-color: var(--change-color);
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    column-gap: 24px;
}


.filter-btn {
    display: flex;
    align-items: center;
    padding: 12px 24px;

    border: 1px solid #e7e9fc;
    border-radius: 4px;
    
    
    background-color: var(--backgroundbtn);
    color: var(--logo-btn-color);
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-btn:hover, .filter-btn:focus {
    background-color: var(--change-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.description-portfolio {
    display: flex;
    flex-wrap: wrap;
    
    row-gap: 48px;
    align-items: center;
    column-gap: 24px;
}

.description-portfolio-item {
    
flex-basis: calc(100% / 3 - 48px);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.description-portfolio-item:hover, .description-portfolio-item:focus {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

/* .description-portfolio-item {margin-right: 24px;
margin-bottom: 48px;
} */

/* .description-portfolio :nth-child(3n) {margin-right: 0;}
.description-portfolio :nth-last-child(-n + 3) {margin-bottom: 0;} */

.portfolio-text {
    padding: 32px 16px;
    
    border: 1px solid #e7e9fc;
    border-top: none;
    
    background-color: var(--white-color);
}

.description-portfolio-wrapper {
position: relative;
overflow: hidden; 
}


.overlay {
position: absolute;
top: 0;
left: 0; 
overflow-y: auto;
width: 100%;
height: 100%;
margin: 0;
padding: 40px 32px;
background-color: var(--logo-btn-color);

color: var(--backgroundbtn);

line-height: 1.5;
letter-spacing: 0.02em;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
transform: translateY(100%);}

.description-portfolio-link:hover .overlay, 
.description-portfolio-link:focus .overlay
{transform: translateY(0);}